#填写你的api，如果你用的是其他模型，需要在/agent/model中修改你的模型
DEEPSEEK_API_KEY={your_api_key}

#如果要使用langsmith监听，请修改下面的api_key
#langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY={your_api_key}
LANGSMITH_PROJECT="meituan"